service cloud.firestore {
  match /databases/{database}/documents {
    match /entries/{entryId} {
      allow get: if true;
      allow create: if request.resource.data.size() == 2
        && request.resource.data.clientCreated is timestamp
        && request.resource.data.firestoreCreated == request.time;
    }
    match /entriesCall/{entryId} {
      allow get: if true;
    }
  }
}